@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e601";
}
.icon-newspaper:before {
	content: "\e602";
}
.icon-play:before {
	content: "\e603";
}
.icon-headphones:before {
	content: "\e604";
}
.icon-barcode:before {
	content: "\e605";
}
.icon-linkedin:before {
	content: "\e606";
}
.icon-github:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e609";
}
.icon-google-plus:before {
	content: "\e60a";
}
.icon-accessibility:before {
	content: "\e60b";
}
.icon-profile:before {
	content: "\e60c";
}
.icon-camera:before {
	content: "\e60d";
}
.icon-film:before {
	content: "\e60e";
}
.icon-bullhorn:before {
	content: "\e60f";
}
.icon-images:before {
	content: "\e610";
}
.icon-stack:before {
	content: "\e611";
}
.icon-map:before {
	content: "\e612";
}
.icon-calendar:before {
	content: "\e613";
}
.icon-user:before {
	content: "\e614";
}
.icon-tv:before {
	content: "\e615";
}
.icon-earth:before {
	content: "\e616";
}
.icon-cog:before {
	content: "\e617";
}
.icon-search:before {
	content: "\e618";
}
.icon-user2:before {
	content: "\e619";
}
.icon-download:before {
	content: "\e61a";
}
.icon-download2:before {
	content: "\e61b";
}
.icon-info:before {
	content: "\e61c";
}
.icon-info2:before {
	content: "\e61d";
}
.icon-question:before {
	content: "\e61e";
}
.icon-notification:before {
	content: "\e61f";
}
.icon-feed:before {
	content: "\e620";
}
.icon-skype:before {
	content: "\e621";
}
