!.gitignore
.htaccess
COPYRIGHT.txt
cron.php
index.php
INSTALL.mysql.txt
INSTALL.pgsql.txt
install.php
INSTALL.sqlite.txt
INSTALL.txt
LICENSE.txt
MAINTAINERS.txt
README.txt
robots.txt
update.php
UPGRADE.txt
web.config
xmlrpc.php
*/includes
*/misc
*/modules
*/profiles/minimal
*/profiles/standard
*/profiles/testing
*/scripts
*/themes
*/sites/example.sites.php
*/sites/all/modules/contrib
*/sites/all/libraries
*/sites/all/themes/contrib

