body {

}

body.page-node-edit div.image img {
  width: 530px;
  height: auto;
}

.field-name-field-thumbnail .manualcrop-preview-cropped {
  border-radius: 80px;
}

.field-name-field-thumbnail .manualcrop-inline .manualcrop-instantpreview {
  border-radius: 80px;
}

.ui-tooltip-content {
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 5px 9px;
  position: absolute;
  right: 0;
  text-align: left;
  top: -25px;
  word-wrap: break-word;
}

.scald-library .view-scald-library ul li {
  list-style: none;
  list-style-image: none;
  float: left;
  padding: 0em .25em 1em;
}
